<template>
  <FormKit type="form" @submit="handleSubmit" submit-label="Envoyer">
    <FormKit
      type="text"
      label="Geom"
      name="geom"
      :validation="[
        ['required'],
        [
          'matches',
          /^(\s*([A-Za-z]+)\s*\(((-?\d+(\.\d+)?\s*-?\d+(\.\d+)?)(\s*,\s*-?\d+(\.\d+)?\s*-?\d+(\.\d+)?)*\)))\s*$/,
        ],
      ]"
    />
    <FormKit type="date" label="Date de début" name="date_debut" validation="required" />
    <FormKit type="date" label="Date de fin" name="date_fin" validation="required" />
    <FormKit type="number" label="Hauteur de mesure" name="hauteur_mesure" validation="required" />
    <FormKit
      type="number"
      label="ID localisation mesure"
      name="id_localisation_mesure"
      validation="required"
    />
    <FormKit type="text" label="Maître d'œuvre" name="maitre_oeuvre" validation="required" />
    <FormKit type="text" label="Maître d'ouvrage" name="maitre_ouvrage" validation="required" />
    <FormKit type="number" label="ID infra route" name="id_infra_route" validation="required" />
    <FormKit
      type="number"
      label="ID source de bruit"
      name="id_source_de_bruit"
      validation="required"
    />
    <FormKit
      type="text"
      label="Date et heure début observation"
      name="date_heure_debut_obs"
      validation="required"
    />
    <FormKit
      type="text"
      label="Date et heure fin observation"
      name="date_heure_fin_obs"
      validation="required"
    />
    <FormKit type="text" label="Description ICPE" name="description_icpe" validation="required" />
    <FormKit type="number" label="Numéro SIRET" name="numero_siret" validation="required" />
    <FormKit
      type="text"
      label="Fréquence centrale"
      name="frequence_centrale"
      validation="required"
    />
    <FormKit
      type="number"
      label="ID résultat mesure bruit"
      name="id_resultat_mesure_bruit"
      validation="required"
    />
    <FormKit type="text" label="Niveau" name="niveau" validation="required" />
    <FormKit type="text" label="Début période" name="debut_periode" validation="required" />
    <FormKit type="text" label="Fin période" name="fin_periode" validation="required" />
    <FormKit type="text" label="Valeur" name="valeur" validation="required" />
    <FormKit type="number" label="ID rapport" name="id_rapport" validation="required" />
    <FormKit type="number" label="ID point fixe" name="id_point_fixe" validation="required" />
    <FormKit
      type="number"
      label="ID pièce mesure orientation"
      name="id_piece_mesure_orient"
      validation="required"
    />
    <FormKit type="number" label="ID pièce mesure" name="id_piece_mesure" validation="required" />
    <FormKit type="number" label="ID météo" name="id_meteo" validation="required" />
    <FormKit type="number" label="ID mesure bruit" name="id_mesure_bruit" validation="required" />
    <FormKit
      type="number"
      label="ID matériel mesure"
      name="id_materiel_mesure"
      validation="required"
    />
    <FormKit
      type="number"
      label="ID campagne mesure"
      name="id_campagne_mesure"
      validation="required"
    />
    <FormKit
      type="number"
      label="Durée d'intégration"
      name="duree_integration"
      validation="required"
    />
    <FormKit
      type="checkbox"
      label="Ponctuel"
      name="is_ponctuel"
      validation="required"
      :value="false"
    />
    <FormKit
      type="checkbox"
      label="Point fixe"
      name="is_point_fixe"
      validation="required"
      :value="false"
    />
    <FormKit type="checkbox" label="Façade" name="is_facade" validation="required" :value="false" />
    <FormKit
      type="checkbox"
      label="Extérieur"
      name="is_exterieur"
      validation="required"
      :value="false"
    />
    <FormKit type="checkbox" label="Champ" name="is_champ" validation="required" :value="false" />
    <FormKit
      type="textarea"
      style="height: 80px; min-width: 250px"
      label="Commentaire"
      name="commentaire"
      validation="required"
    />
  </FormKit>
</template>
<script lang="ts">
import { FormKit } from "@formkit/vue";
import axios from "axios";

export default {
  mounted() {
    console.log("mounted");
    axios.get("http://localhost:8000/whitelist").then((res) => {
      res.data.map(([shema, table, field]: [string, string, string]) => {
        console.log(shema, table, field);
        axios
          .get("http://localhost:8000/dbcontent", { params: { shema, table, field } })
          .then((res) => {
            console.log(res.data);
          });
      });
    });
  },
  methods: {
    handleSubmit(values: { [key: string]: any }) {
      axios.post("http://localhost:8000/submit", {
        ...values,
        date_debut: new Date(values.date_debut).toISOString(),
        date_fin: new Date(values.date_fin).toISOString(),
      });
    },
  },
  components: {
    FormKit,
  },
};
</script>

<style>
.formkit-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formkit-wrapper {
  min-width: 300px;
}

.formkit-input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background-color: aliceblue;
  color: #0c1248de;
  font-weight: bold;
}

.formkit-actions {
  width: 100%;
}

.formkit-input[type="submit"] {
  height: 50px;
  background-color: #0c1248de;
  color: white;
  max-width: 300px;
}
.formkit-message {
  color: red;
}
</style>
