<html>
<head>
    <title>BAMBIN - Homepage</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue sur le site de BAMBIN !</h1>
    <h1>Vous allez pouvoir renseigner des formulaires pour des données de bruit.</h1>
</body>
</html>