<template>
  <div>
    <ul>
    

        <button @click="submitJSON">Soumettre l'ensemble des informations</button>
    </ul>
  </div>
</template>

<script>
import { useFormStore } from '../store/formStore'
import axios from 'axios';

export default {
    data() {
        return {
            formComplete : this.store.formComplete,
        }
    },    
    setup() {

        const store = useFormStore();

        return {
            store
        }
    }, 
    methods : {
        async submitJSON() {
            console.log(JSON.stringify(this.formComplete));
            try {   
                const result = await axios.post("/submit", this.formComplete);
                console.log(result.data);
            } catch (error) {
                console.log(error)
            }
        }
    }
    
}
</script>

<style>

</style>