<template>
  <div class="formPreviewBox">
    <p> {{typePreview.type}} </p>
    <div v-if="formMateriel && typePreview.type === 'materiel'">
      <p> Type de matériel :  {{formMateriel.type_materiel}} </p>
      <p> Marque du matériel {{ formMateriel.marque_materiel}} </p>
      <p v-if="formMateriel.numero_serie"> N° de série : {{ formMateriel.numero_serie}} </p>
      <p v-else> Numéro de série non renseignée </p>
    </div>

    <div v-if="formGeo && typePreview.type === 'géolocalisation'">
      <p> Coordonnée X :  {{formGeo.coordinateX}} </p>
      <p> Coordonnée Y :  {{formGeo.coordinateY}} </p>
    </div>

  </div>
</template>

<script>

import { useFormStore} from '../store/formStore';
import { ref, watchEffect } from 'vue';


export default {
    props : {
        typePreview: {
            required: true,
        }
    },
    setup() {
      const store = useFormStore();
      const formMateriel = ref(store.formMateriel);
      const formGeo = ref(store.formGeo);

      watchEffect(() => {
        formMateriel.value = store.formMateriel;
        formGeo.value = store.formGeo;
      })

    return {
      formMateriel, formGeo
    }
  }
}
</script>

<style>

.formPreviewBox {
    width : 20%;
    border : 1px solid black;
    text-align : center;
}

</style>