<template>
  <div>
    <div v-if="step === ''">

      <h2>Référence à la route </h2>
      <form class="detailRoadBox">

        <div class="formRoadBox">
              <label>Nom de la route</label>
              <select v-model="roadName">
                  <option v-for="(road, index) in roadNames" :key="index" :value="road.id_nom_route" > {{road.nom_route}}
                  </option>
              </select>
          </div>

          <div class="formRoadBox">
              <label>Nom du gestionnaire</label>
              <select v-model="roadAdministrator">
                  <option v-for="(administrator, index) in administrators" :key="index" :value="administrator.id_gest_route" > {{administrator.gest_route}}
                  </option>
              </select>
          </div>

          <div class="formRoadBox">
              <label>Liste des départements</label>
              <select v-model="choosenDepartment">
                  <option v-for="(department, index) in departments" :key="index" :value="department.id_dept" > {{`${department.dept} - ${department.libelle}`}}
                  </option>
              </select>
          </div>

          <div class="formRoadBox">
              <label>Liste des communes</label>
              <select v-model="choosenCommune">
                  <option v-for="(commune, index) in communes" :key="index" :value="commune.id_commune" > {{commune.commune}}
                  </option>
              </select>
          </div>

          <button type="button" @click="submitRoad">Validez et passer au trafics routier</button>

      </form>
    </div>

    <div v-if="step === 'trafic'">
      <h2>Référence aux trafics routiers</h2>

      <form class="detailRoadBox">
        <div class="formRoadBox">
          <VueDatePicker class="datePickerResult" v-model="date" range/>
        </div>

        <div class="formRoadBox">
            <label>Indicateur de trafic Routier </label>
            <select v-model="choosenTrafic">
                <option v-for="(trafic, index) in trafics" :key="index" :value="trafic.id_indicateur_trafic_routier" > {{trafic.indicateur_trafic_routier}}
                </option>
            </select>
        </div>

        <div class="formRoadBox">
            <label>Valeur de l'indicateur</label>
            <input class="input" type="number" v-model="indicateurValue">
        </div>

         <div class="formRoadBox">
            <label>Nature du trafic</label>
            <select v-model="traficNature.value" @change="updateTraficNature">
                <option value="1" data-value="1">Constat</option>
                <option value="2" data-value="1">Long terme</option>
                <option value="3" data-value="1">Long terme météo</option>
            </select>
        </div>

        <button type="button" @click="submitTrafic('end')">Terminez l'ajout de trafic</button>
        <button type="button" @click="submitTrafic('next')">Ajoutez un autre indicateur </button>
      </form>
    </div>
  </div>
</template>

<script>

import { ref, reactive } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import { useFormStore } from '../store/formStore';
import { useDataStore } from '../store/dataStore';

export default {

  data() {
    return {
      step : '',
      traficNature : reactive({value: null}),
      roadName : ref(null),
      roadAdministrator : ref(null),
      choosenDepartment : ref(null),
      choosenCommune : ref(null),
      choosenTrafic : ref(null),
      indicateurValue: ref(null),
    }
  },
  methods : {

    changeStepValue(value) {
      this.step = value;
    },
    updateTraficNature() {
      this.traficNature.value = parseInt(this.traficNature.value);

    },
    submitRoad() {
      const store = useFormStore()
      const formRoad = {
        roadId : this.roadName,
        roadAdministratorId : this.roadAdministrator,
        departmentId : this.choosenDepartment,
        communeId : this.choosenCommune
      };
      store.addRoad(formRoad);
      this.changeStepValue('trafic');
    },
    submitTrafic(value) {
      const store = useFormStore();
      const trafic = {
        indicateur : this.choosenTrafic,
        trafic_nature : this.traficNature.value,
        date_heure_debut : this.date[0],
        date_heure_fin : this.date[1],
        valeur : this.indicateurValue
      }
      store.addTrafic(trafic);
      if(value === 'next') {
        return this.resetForm();
      } else {
        store.changeStepValue('bilan');
      }
    },
    resetForm() {
      this.choosenTrafic = null;
      this.traficNature.value = null;
      this.date = [];
      this.indicateurValue = null;
    }
  },
  setup() {

    const store = useDataStore();
    const { communes, trafics, departments, roadNames, administrators} = store;
    const date = ref(null);

    return {
      communes, date, trafics, departments, roadNames, administrators
    }
  }, 
  components : {
    VueDatePicker,
  }
}
</script>

<style>

.input-road {
  background : rgb(205, 198, 198);
  border-radius : 5px;
  width : 60%;
  height : 20px;
  margin : 10px auto 20px;
}

.detailRoadBox {
    background : white;
    border : 3px solid black;
    color : blue;
    width : 40%;
    margin : auto;
    padding : 10px 0;
}

.formRoadBox {
    width : 70%;
    margin : auto;
    display : flex;
    flex-direction : column;
}

</style>