<template>
    <div>
        <h2>Partie Géolocalisation </h2>

        <form class="form-group">

            <h4>Les coordonnées doivent être saisis en Lambert93 ! </h4>
            <div class="input-group">
                <label class="label">Coordonnée X</label>
                <input class="input" v-model="coordinate.coordinateX" type="number"  name="firstname">
            </div>

            <div class="input-group">
                <label class="label">Coordonnée Y</label>
                <input class="input" v-model="coordinate.coordinateY" type="number" name="lastname">
            </div>

            <div>
                <ul>
                    <li v-if="coordinate.coordinateX">Coordonnée X : {{ coordinate.coordinateX}} </li>
                    <li v-if="coordinate.coordinateY">Coordonnées Y :  {{coordinate.coordinateY}} </li>
                </ul>
            </div>

            <button @click="submitCoordinate">Validez vos coordonnées</button>

        </form>

    </div>
  
</template>

<script>

import { ref } from 'vue';
import { useFormStore } from '../store/formStore';

export default {

    data() {
        return {
            coordinate : {
                coordinateX : ref(null),
                coordinateY : ref(null)
            }
        }
    },

    methods : {
        submitCoordinate(e) {
            e.preventDefault();
            if( isNaN(this.coordinate.coordinateY) ||
                typeof this.coordinate.coordinateY !== "number" ||
                isNaN(this.coordinate.coordinateX) ||
                typeof this.coordinate.coordinateX !== "number") {
                return alert("Vous n'avez pas rentré des nombres !!!")
            }
            else {
                const store = useFormStore();
                store.addGeo(this.coordinate);
                return this.changeStepValue('mesure')
            }
        },
         changeStepValue(value) {
            const store = useFormStore();
            return store.changeStepValue(value);
        }
    }

}
</script>

<style>

h4 {
    color : black;
}

li {
    color : black;
    list-style: none;
}

</style>