<template>
  <div class="formPreview">
    <form-preview-box v-for="(type, index) in this.typePreview" :key="index" :typePreview="type" />
  </div>
</template>

<script>


import { useFormStore} from '../store/formStore';
import formPreviewBox from './formPreviewBox.vue';


export default {
    data() {
        return {
            typePreview : [ { type : 'materiel'}, { type: 'géolocalisation'}, {type : 'mesure'}, {type : 'résultat'}]
        }
    },
  components: { formPreviewBox },
  computed : {
    formData() {
        return this.store.formData;
    }
  }, 
  setup() {
    const store = useFormStore();
    return {
        store
    }
  }

}
</script>

<style>

.formPreview {
    border : 2px blue solid;
    width : 80%;
    display : flex;
    justify-content: space-around;
    height : 24vh;
    background : white;
    text-align: center;
    position: absolute;
    bottom : 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding : 2px;
}

</style>