<template>
    <div>
        <h2>Formulaire de mesure de bruit</h2>
        <div class="formSiren">
            <div class="formSirenOuvrage">
                <div class="input-group">
                    <label  class="label">Numéro de Siren Maître d'ouvrage</label>
                    <input v-model="siren_number.sirenOuvrage" class="input" type="text" name="siren_numberOuvrage">
                </div>

                <!-- <div class="input-group">
                    <label class="label">Nom entreprise</label>
                    <input class="input" type="text" name="siren_number">
                </div> -->
            </div>
            <div class="formSirenOuvrage">
                <div class="input-group">
                    <label class="label">Numéro de Siren Maître d'oeuvre</label>
                    <input v-model="siren_number.sirenOeuvre" class="input" type="text" name="siren_numberOeuvre">
                </div>

                <!-- <div class="input-group">
                    <label class="label">Nom entreprise</label>
                    <input class="input" type="text" name="siren_number">
                </div> -->
            </div>
        </div>
        <div class="detailMesureBox">
            <form>
                <div class="inputRadioBox">
                    <label>La mesure est-elle un point fixe ?</label>
                    <input type="radio" name="fixePoint" @change="handleFixedMesureRadioChange(true)" >Oui
                    <input type="radio" name="fixePoint" @change="handleFixedMesureRadioChange(false)" >Non
                </div>
                <div class="inputRadioBox" v-if="fixedMesure === true">
                    <label>La mesure à t-elle été réalisé en extérieur ?</label>
                    <input type="radio" name="outsideMesure" @change="handleOutsideMesureRadio(true)" >Oui
                    <input type="radio" name="outsideMesure" @change="handleOutsideMesureRadio(false)" >Non
                </div>
                <div class="inputRadioBox" v-if="outsideMesure === true">
                    <label>Comment la mesure est-elle faite ? </label>
                    <input type="radio" name="howMakeMesure" @change="handleFacadeOrChamp(true)" > En façade ? 
                    <input type="radio" name="howMakeMesure" @change="handleFacadeOrChamp(false)" >En champs libre ? 
                </div>
                
                <div v-if="fixedMesure === false">
                    <p class="featureNotExist">Désolé cette feature n'existe pas encore </p>
                </div>
                <div v-if="outsideMesure === false">
                    <p class="featureNotExist"> Cette option sera ajoutée plus tard au formulaire</p>
                </div>
            </form>

        </div>

        <div v-if="facadeOrChamp !== null" class="secondPartMesureForm">

            <div class="inputHeightBox" >
                <label>Hauteur</label>
                <input class="input" type="number" v-model="heightMesure">
                <div>
                    <label>Mesure Ponctuelle ? </label>
                    <input type="radio" name="poncutelleMesure" @change="handlePonctuelleMesure(true)">
                </div>

            </div>

            <div class="datePickerMesure">
                <VueDatePicker class="vueDatePickerMesure"  v-model="date" range />
                <label>Durée d'intégration</label>
                <input class="input" type="number" v-model="integrationDuration">
                
            </div>

            <div class="thirdPartMesureForm">
                <label>Commentaire</label>
                <textarea class="textareaMesure" name="comment" id="comment" cols="30" rows="10" v-model="comment"></textarea>
            </div>
            
        </div>

        <button @click="submitForm">Validez</button>

        
    </div>
</template>

<script>

import { ref } from 'vue';
import  VueDatePicker from '@vuepic/vue-datepicker';
import { useFormStore } from '../store/formStore';


export default {

    data() {
        return {
            siren_number : {
                sirenOuvrage : ref(''),
                sirenOeuvre : ref(''),
                
            },
            fixedMesure : ref(null),
            outsideMesure : ref(null),
            // Question sur le nommage de ce champs !!!! Attention dans le JSON présence de champ et de façade nécessaire ??? 
            facadeOrChamp : ref(null),
            heightMesure : ref(null),
            ponctuelleMesure : ref(false),
            integrationDuration : ref(null),
            comment : ref(''),
        }
    },
    setup() {
        const date = ref(null);

        return {
            date
        }
    },
    components : {
        VueDatePicker,
    },
    methods : {
        handleFixedMesureRadioChange(value) {
            return this.fixedMesure = value;
        },
        handleOutsideMesureRadio(value) {
            return this.outsideMesure = value;
        },
        handleFacadeOrChamp(value) {
            const store = useFormStore();
            this.facadeOrChamp = value;
            return store.handleChampFacadeValue(value);
        },
        handlePonctuelleMesure(value) {
            return this.ponctuelleMesure = value;
        }, 
        submitForm() {
            const store = useFormStore();
            const formMesure = {
                sirenNumber : this.siren_number,
                fixedMesure : this.fixedMesure,
                outsideMesure : this.outsideMesure,
                howMakeMesure : this.howMakeMesure,
                heightMesure : this.heightMesure,
                ponctuelleMesure : this.ponctuelleMesure,
                integrationDuration : this.integrationDuration,
                comment : this.comment,
                date : this.date,
            }
            console.log(formMesure)
            store.addMesure(formMesure);
            store.changeStepValue('result');
        }
    }
    
    }
</script>

<style>

.inputRadioBox {
    padding : 10px 0;
    border-bottom : solid black 1px;
    width : 80%;
    margin : auto;
}

.inputHeightBox {
    display : flex; 
    flex-direction : column;
    padding : 15px 0 0;
    width : 25%;
}

.vueDatePickerMesure {
    margin-bottom : 20px;
}

.detailMesureBox {
    background : white;
    border : 3px solid black;
    color : blue;
    width : 30%;
    margin : auto;
    padding : 10px 0;
}

.datePickerMesure {
    width : 25%;
    padding-top : 20px;
}

.secondPartMesureForm {
    background : white;
    width : 80%;
    display : flex;
    justify-content: space-around;
    border : 2px solid black;
    padding : 10px 0;
    margin : 20px auto;
}

.thirdPartMesureForm {
    display : flex;
    flex-direction : column;
    width : 25%;
}

.textareaMesure {
    background  : white;
    color : black;
    width : 95%;
    margin : auto;
}

.featureNotExist {
    border : red 2px solid;
    padding : 4px;
    font-size : 20px;
    font-weight : bold;
    background : rgb(206, 183, 183);
    color : red;
    width : 60%;
    margin : auto;
    margin-top : 40px;
    margin-bottom : 40px;
}

</style>