<template>
  <div>
    <h2>Ajout de l'indicateur Numéro {{ indicateNumber }}</h2>
    <form class="detailMesureBox">
        <div class="formResultBox">
            <label>Nature de la mesure</label>
            <select v-model="mesureNature.value" @change="updateNatureMesure">
                <option value="1" data-value="1">Constat</option>
                <option value="2" data-value="1">Long terme</option>
                <option value="3" data-value="1">Long terme météo</option>
            </select>
        </div>
        <div class="formResultBox">
            <!-- A voir pour le la valeur et le fonctionnement de l'indicateur -->
            <label>Indicateur de référence</label>
            <select v-model="choosenIndicateur">
                <option v-for="(indicateur, index) in indicateurList" :key="index" :value="indicateur.id" > {{indicateur.name}}
                </option>
            </select>
        </div>
        <div class="formResultBox">
            <label>Unité de grandeur </label>
            <select v-model="choosenUnit">
                <option v-for="(unit, index) in unitList" :key="index" :value="unit.id"> {{unit.name}}
                </option>
            </select>
        </div>
        <div class="formResultBox">
            <label>Pondération</label>
            <select v-model="choosenPonderation">
                <option v-for="(ponderation, index) in ponderationList" :key="index" :value="ponderation.id"> {{ponderation.name}}
                </option>
            </select>
        </div>
        <VueDatePicker class="datePickerResult" v-model="date" range/>
        <div class="inputRadioBox">
            <label>La période couverte est-elle une période de réfèrence ? </label>
            <input type="radio" name="referenceMesure" @change="handleReferenceMesure(true)">Oui
            <input type="radio" name="referenceMesure" @change="handleReferenceMesure(false)">Non
        </div>

        <div class="formResultBox">
            <label>Valeur de l'indicateur</label>
            <input class="input" type="number" v-model="indicateurValue">
        </div>


        <div class="commentSection">
            <label>Commentaire</label>
            <textarea class="textareaResult" name="comment" id="comment" cols="30" rows="10" v-model="comment"></textarea>
        </div>
        
        
    </form>

    <div class="boxButton">
            <button @click="addFormResult('end')">Validez les résultats</button>
            <button @click="addFormResult('next')">Ajoutez un autre indicateur </button>
        </div>
  </div>
</template>

<script>
    
import { ref, reactive } from 'vue';
import  VueDatePicker from '@vuepic/vue-datepicker';
import { useFormStore } from '../store/formStore';

export default {


    data() {
        return {
            mesureNature : reactive({value: null}),
            indicateurList : [{ name : "Leq", id : 1}, { name : "NA", id : 2}, { name : "émergence", id : 3}, { name : "Lmax", id:4}, { name : "Leq résiduel", id : 5},
            {name : "Leq Particulier", id : 6}, { name : "Tonalité Marquée", id: 7 }, { name : "Sel", id : 8}, { name : " L50", id :9}, { name : "L90", id: 10}, {name : "L10", id : 11}],
            unitList : [{ name : "Décibel", id : 1 }, { name : "Pascal", id : 2}, { name: "hertz", id : 3}, { name : "Niombre dévènement", id : 4}],
            ponderationList : [{ name : "A", id: 1}, { name : "B", id : 2}, { name :"C", id :3}, { name : "Z", id: 4}],
            choosenIndicateur : ref(''),
            choosenUnit : ref(''),
            choosenPonderation : ref(''),
            referenceMesure : ref(false),
            indicateurValue : ref(null),
            comment : ref(''),
            indicateNumber : ref(1),
        }
    },
    setup() {

        const date = ref(null)

        return {
            date
        }
    },
    components : {
        VueDatePicker,
    },
    methods : {
        handleReferenceMesure(value) {
            this.referenceMesure = value;
        },
        updateNatureMesure() {
            this.mesureNature.value = parseInt(this.mesureNature.value);
        },
        addFormResult(value) {
            const result = {
                id_nature_mesure : this.mesureNature.value,
                id_indicateur : this.choosenIndicateur,
                id_unite_grandeur : this.choosenUnit,
                id_ponderation : this.choosenPonderation,
                debut_periode : this.date[0],
                fin_periode : this.date[1],
                is_periode_reference : this.referenceMesure,
                valeur : this.indicateurValue,
                incertitude : 0,
                comment_result : this.comment

            }
            const store = useFormStore();
            store.addResult(result);
            if(value === 'end') {
                this.changeStepValue();
            } else {
                this.resetForm();
            }

        },
        changeStepValue() {
            const store = useFormStore();
            store.changeStepValue('road');
        },
        resetForm() {
            this.mesureNature.value = null;
            this.choosenIndicateur = '';
            this.choosenPonderation  = '';
            this.choosenUnit = '';
            this.comment = '';
            this.referenceMesure = false;
            this.indicateurValue = null;
            this.date = null;
        }
    }

}
</script>

<style>

.boxButton {
    justify-content: space-around;
    padding : 5px;
    width : 25%;
    margin : 25px auto;
    border-radius : 40px;
    display : flex;
}

.formResultBox {
    width : 50%;
    margin : auto;
    display : flex;
    flex-direction : column;
}

select {
    color : black;
    width : 60%;
}

.datePickerResult {
    width : 60%;
    margin : 10px auto;
}

.commentSection {
    display : flex;
    flex-direction : column;
    margin-top : 10px;
}

.textareaResult {
    width : 50%;
    margin : auto;
    background : white;
    color : black;
}

</style>