<template>
  <div class="formNavigate">
    <p class="formNavigateBtn">Matériel</p>
    <p class="formNavigateBtn">Géolocalisation</p>
    <p class="formNavigateBtn">Mesure</p>
    <p class="formNavigateBtn">Résultat</p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

.formNavigate {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 20%;
  right: 0;;
}

.formNavigateBtn {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00B4B2;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white; 
  margin-bottom: 10px; 
}

</style>