<template>

    <div>
        <h2>Partie Choix de matériel</h2>

        <div v-if="submitStatus === false" class="form_container">
            <form class="form-group">
                <div class="optionBox">
                    <div class="flex" v-for="(option, index) in options" :key="index">
                        <p class="optionText"> {{option.type_materiel}}</p>
                        <p class="optionText" v-if="option.marque_materiel" > {{option.marque_materiel}}</p>
                        <p class="optionText" v-else> Non renseignée </p>
                        <input type="radio" :value="option" v-model="selectedOption">
                    </div>
                </div>

                    <div class="input-group">
                        <label>Numéro de série</label>
                        <input v-model="materielSerialNumber"  class="input" type="text">
                    </div>
                <button type="submit" @click="submitMateriel" class="globalFormHomeButton">Validez le choix</button>
                
            </form>

        </div>
        <button @click="changeStepValue('géolocalisation')" v-else>Passer à la géolocalisation</button>
    </div>
</template>

<script>

import { ref} from 'vue';
import { useFormStore} from '../store/formStore';

export default {

    data() {
        return {
            selectedOption : ref(null),
            newMateriel : ref(''),
            marqueMateriel : ref(null),
            materielSerialNumber : ref(''),
            options : [
                {
                    id_materiel_mesure: 1,
                    type_materiel: "sonomètre classe 1",
                    marque_materiel: "ACOEM",
                    numero_serie: null
                },
                {
                    id_materiel_mesure: 2,
                    type_materiel: "sonomètre classe 1",
                    marque_materiel: "Bruel et Kjaer",
                    numero_serie: null
                },
                {
                    id_materiel_mesure: 3,
                    type_materiel: "sonomètre classe 2",
                    marque_materiel: "ACOEM",
                    numero_serie: null
                },
                {
                    id_materiel_mesure: 4,
                    type_materiel: "sonomètre classe 2",
                    marque_materiel: "Bruel et Kjaer",
                    numero_serie: null
                },
                {
                    id_materiel_mesure: 5,
                    type_materiel: "sonomètre classe 1",
                    marque_materiel: null,
                    numero_serie: null
                }
            ], 
            submitStatus : false,
        }
    },

    methods : {
        submitMateriel(e) {
            e.preventDefault();
            const formStore = useFormStore();
            // Pas encore utilisé
            // this.selectedOption.numero_serie = this.materielSerialNumber;
            formStore.addMaterielMesure(this.selectedOption.id_materiel_mesure);
            return this.submitStatus = true;
        },
        changeStepValue(value) {
            const store = useFormStore();
            store.changeStepValue(value);
        }
    }
}
</script>

<style>

.flex {
    display : flex;
    justify-content: space-around;
    border-bottom : 2px solid black;
}

.optionText {
    border : 3px solid black;
    padding : 4px;
    width : 20%;
}

.form_container {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

.resume_container {
    width : 40%;
    border : 10px #00B4B2 solid;
}

.select-group {
    display : flex;
    flex-direction : column;
}

select {
    background : rgb(205, 198, 198);
    border-radius : 5px;
    width : 50%;
    height : 20px;
    margin : 0 auto 20px;
}

label {
    color : black;
}

</style>