<template >
  <form class="form-group">

      <div class="input-group">
        <label class="label">Email</label>
        <input class="input" type="text" name="email">
      </div>

      <div class="input-group">
        <label class="label">Mot de passe</label>
        <input class="input" type="password" name="password">
      </div>

      <button type="submit">Envoyez</button>
    </form>
</template>

<script >
export default {

}
</script>

<style>

.form-group {
    background : white;
    border-radius : 60px;
    width : 50%;
    padding : 10px 10px;
    margin : auto;
    box-shadow: 0 0  5px red;
    outline : 10px #00B4B2 solid;
    margin-bottom : 50px;
}

.input-group {
    display : flex; 
    flex-direction: column;

}

.label {
    color : black;
}


</style>