<template >
  <form class="form-group">

    <div class="input-group">
      <label class="label">Prénom</label>
      <input class="input" type="text" v-model="formResult.firstname" name="firstname">
    </div>

    <div class="input-group">
      <label class="label">Nom de famille</label>
      <input class="input" type="text" v-model="formResult.lastname" name="lastname">
    </div>

    <div class="input-group">
      <label class="label">Email</label>
      <input class="input" type="text" v-model="formResult.mail" name="email">
    </div>

    <div class="input-group">
      <label class="label">Mot de passe</label>
      <input class="input" type="password" v-model="formResult.password" name="password">
    </div>

    <div class="input-group searchContainer">
      <label class="label">Numéro de Siren</label>
      <input v-model="searchInput" class="input" type="text" name="siren_number">
        <div class="searchText" v-for="s in filteredList" :key="s.id">{{ s.name }}</div>
    </div>

      <button @click="submitRegisterForm" type="submit">Envoyez</button>
    </form>
</template>

<script >

import { ref } from 'vue';

export default {

  data() {
    return {
      searchInput : ref(''),
      sirenNumberArray : [
        { name : "bordeaux", number : "06598", id : 0},
        { name : "lilles", number : "1681898", id : 1},
        { name : "boulogne", number : "1681898", id : 1},
        { name : "beauveais", number : "1681898", id : 1},
        { name : "brest", number : "1681898", id : 1},
      ],
      formResult : {
        firstname: ref(''),
        lastname: ref(''),
        mail:ref(''),
        password: ref(''),
        siren_number: ref(''),
      }
    }
  },
  methods : {
    submitRegisterForm(e) {
      e.preventDefault();
      console.log(this.formResult.firstname)
    }
  },
  computed : {
    filteredList() {
      if( this.searchInput != '') {
        return this.sirenNumberArray.filter(item => {
         return item.name.includes(this.searchInput)
        })
      }
    }
  }

}
</script>

<style>

.form-group {
    background : white;
    border-radius : 60px;
    width : 50%;
    padding : 10px 10px;
    margin : auto;
    box-shadow: 0 0  5px red;
    outline : 10px #00B4B2 solid;
}

.input-group {
    display : flex; 
    flex-direction: column;
}

.searchContainer {
  position: relative;
}

.searchContainerResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  z-index: 1;
}

.searchText {
  border: black solid 1px;
  background: rgb(243, 237, 237);
  color: black;
  font-weight: bold;
  box-shadow: 0 0 10px black;
  margin-bottom: 4px;
}

.label {
    color : black;
}

</style>