<template>
  <div class="globalForm">

        <div class="buttonContainer" v-if="step === 'home'">
            <button @click="changeStepValue('materiel')" class="globalFormHomeButton">Partie Matériel</button>
            <button @click="changeStepValue('géolocalisation')"  class="globalFormHomeButton">Partie Géolocalisation</button>
            <button @click="changeStepValue('mesure')" class="globalFormHomeButton">Partie Mesure</button>
            <button @click="changeStepValue('result')" class="globalFormHomeButton">Partie Résultat</button>
            <button @click="changeStepValue('road')" class="globalFormHomeButton">Partie Route</button>
        </div>

        <div class="buttonContainer" v-if="step === 'materiel'">
            <button @click="changeStepValue('newOrOldMateriel')" class="globalFormHomeButton">Fournir une nouvelle mesure</button>
            <button class="globalFormHomeButton">Fournir une mesure pour une source existante</button>

        </div>

        <div class="buttonContainer" v-if="step === 'newOrOldMateriel'">
            <button @click="changeStepValue('newMateriel')" class="globalFormHomeButton">Fournir un nouveaux matériel</button>
            <button class="globalFormHomeButton">Séléctionnez un matériel existant</button>

        </div>

        <div v-if="step === 'newMateriel'">

            <form-materiel />

        </div>

        <div class="buttonContainer" v-if="step === 'géolocalisation'">
            <button @click="changeStepValue('newGéolocalisation')" class="globalFormHomeButton">Fournir une nouvelle géolocalisation</button>
            <button class="globalFormHomeButton">Fournir une géolocalisation existante</button>
        </div>

        <div v-if="step === 'newGéolocalisation'">
            <form-geo />
        </div>

        <div v-if="step === 'mesure'">
            <form-mesure />
        </div>

        <div v-if="step === 'result'">
            <result-form />
        </div>

        <div v-if="step === 'bilan'">
            <form-bilan />
        </div>

        <div v-if="step === 'road'">
            <form-road />
        </div> 

        <!-- <form-preview /> -->

        <!-- <form-navigate /> -->

    </div>
</template>

<script lang="ts">

import { useFormStore} from '../store/formStore';
import { ref, watchEffect } from 'vue';
import formBilan from '../components/formBilan.vue';
import formMateriel from '../components/formMateriel.vue';
import formGeo from '../components/formGeo.vue';
import formPreview from '../components/formPreview.vue';
import formNavigate from '../components/formNavigate.vue';
import formMesure from '../components/formMesure.vue';
import resultForm from '../components/formResult.vue';
import formRoad from '../components/formRoad.vue';

export default {
    
    methods : {
        changeStepValue(value) {
            const store = useFormStore();
            store.changeStepValue(value);
        },
    },
    setup() {
        const store = useFormStore();
        const step = ref(store.step);

        watchEffect(() => {
            step.value = store.step
        })

        return {
            step
        }
    },
    components : {
        formGeo, formMateriel, resultForm, formRoad,
        formPreview, formNavigate, formMesure, formBilan
    }
}

</script>

<style>

.globalForm {
    position : relative;
    height: 100vh;
}

h2 {
    color : blue;
    margin : 0 auto;
    padding : 2rem;
}

.buttonContainer {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-around;
    margin : auto;
    width : 50%;
}

.globalFormHomeButton {
    margin-top : 20px;
    width : 33%;
}

</style>