<template>
  <div>

    <div><h4 class="form-label">Ajouter une nouvelle donnée</h4></div>
    <h1>Bambin</h1>
    <router-link to="/RegisterForm">Register</router-link>

    <FormKit type="form">
      <FormKit
        type="number"
        help="What temperature should the house be?"
        label="Thermostat"
        name="temperature"
        value="25"
        step="1"
      />
    </FormKit>
  </div>
</template>
<script lang="ts">
import NewDataForm from "../components/Form/NewDataForm.vue";
import Header from "../components/Header.vue";

export default {
  components: {
    NewDataForm,
    Header,
  },
};
</script>
