<template>
  <div>

    <h1>Base Nationale des mesures de bruit normalisées</h1>


    <router-link to="/">Home</router-link>

    <div v-if="this.form === 'none'">

      <p>Que voulez-vous faire ? </p> 
      <div class="chooseHomeForm">
        <button @click="selectForm('loginForm')">Se connecter</button>
        <button  @click="selectForm('registerForm')">S'inscrire</button>
      </div>
    </div>

    <div v-if="this.form === 'registerForm'">
      <signin-form  />

      <button @click="selectForm('none')">
        Revenir au choix de formulaire 
      </button>
    </div>

    <div v-if="this.form === 'loginForm'">
      <login-form  />

      <button class="returnButton" @click="selectForm('none')">
        Revenir au choix de formulaire 
      </button>
    </div>

  </div>
</template>

<script lang="ts">

import signinForm from '../components/signinForm.vue';
import loginForm from '../components/loginForm.vue';


const testSiren = [{ label: "002233", value: "00"}, { label: "445522", value: "44"}]


export default {
    
    methods : {
      handleSubmit(values) {
          localStorage.setItem('user', JSON.stringify(values));

          const result = localStorage.getItem('user');
          const user = JSON.parse(result);
          console.log(user)
      },
      selectForm(form: string) {
        this.form = form;
      }
    },
    data() {
      return {
        form : 'none'
      }
    },
    components : {
      signinForm, loginForm
    }

}

</script>

<style>

h1, p {
  color : rgb(79, 79, 192);
}

</style>